body {
    background-color: rgb(213, 247, 212);
    background-repeat: repeat;
    background-attachment: fixed;
}

.title h1 {
    font-family: 'Rubik Gemstones', cursive;
    color:rgb(160, 184, 230);
    text-transform:lowercase;
    font-size: 70px;
    padding: 3px 3px;
    text-align: center;
}

.title h2 {
    font-family: monospace;
    color:darkseagreen;
    margin-top: 3px;
    font-size: 20px;
    text-align: center;
    text-decoration: wavy;
}

.navBar {
    background-color: rgb(100, 140, 100);
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
}

.navBar a {
    float: left;
    color: rgb(231, 255, 231);
    text-align: center;
    font-family: monospace;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.makeNoise {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    color: darkslateblue;
    font-weight: 700;
}



/* ======= ABOUT PAGE ========= */



.aboutP {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-family: monospace;
    color: midnightblue;
    font-size: larger;
    font-weight: 700;
}

.aboutP img {
    width: 375px;
    height: 500px;
    margin-top: 7px;
    float: left;
    border-radius: 15px;
}

.aboutText {
    margin-left: 50%;
    float:inline-end;
    background-color: rgb(245, 231, 233);
    border-radius: 15px;
    padding: 0px 7px;
}

.kirby {
    height: 105px;
    width: 100px;
    margin-right: 20%;
    float: right;
    margin-top: -30px;
}


/* ========= WORKS PAGE ========== */

.woof {
    margin-top: 5px;
    float: left;
    width: 600px;
}

.blue {
    margin-top: 5px;
    float: left;
    width: 600px;
}

.crazy {
    margin-top: 5px;
    float: left;
    width: 600px;
}

.care {
    margin-top: 5px;
    float: left;
    width: 600px;
}

.dance {
    height: 40px;
    width: 20px;
    margin-right: 20%;
    float: right;
    z-index: 1;
    position: fixed;
}

.picContainer {
    float: right;
    margin-right: 15%;
}

.formatContainer {
    margin-left: 20%;
    margin-right: 20%;
}





/* ======= CONTACT PAGE ========= */

.contactHead {
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    color: darkslateblue;
    font-weight: 600;
    text-decoration: underline;
}

.callMe {
  display: block;
  margin-left: 20%;
  float: left;
  width: 25%;
  background-color: rgb(245, 231, 233);
  border-radius: 15px;
  padding: 17px 17px;
}

.contactText {
    float: right;
    margin-right: 20%;
    font-family: monospace;
    color: lavenderblush;
    font-size: x-large;
    font-weight: 500;
    margin-top: 15px;
    background-color: darkslateblue;
    padding: 20px 20px;
    border-radius: 15px;
}





/*================================================*/
/* ============ MUSICAL BUTTONS =============== */
/*================================================*/


/*======    HEXAGONAL BUTTONS ATTRIBUTED TO TEMANI AFIF ON CSS-TRICKS.COM    ======== */
/* link to article: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */

.main {
    display:flex;
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
    position: absolute;
    top: 45%;
    left: 19%;
    right: 19%;
    background-color: rgb(231, 255, 231);
    border-radius: 15px;
    padding-bottom: 30px;
    padding-top: 5px;
    max-width: 900px;
    min-width: 900px;
  }
  
  .container {
    font-size: 0; /* disable white space between inline block element */
  }
  
  .container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size:initial;
    background-color:darkslateblue;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  }
  
  .container div:hover{
    background-color: rgb(42, 35, 89);
  }

  .container::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
  }